[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs
